* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.formulaTab {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.8rem;
  align-items: center;
  border-bottom-width: 2px;
  border-color: #d1d5db;
  background-color: #f9fafb;
  height: 30px;
}

.inputCell {
  border-radius: 6px;
  /* border-width: 2px;
  border-color: #d1d5db; */
  outline-style: none;

  height: 25px;
}

.addressCell {
  width: 5.6rem;
  /* margin-right: 2px; */
  text-align: center;
  border: 1px solid grey;
  font-size: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulaBar {
  width: 20rem;
  padding-left: 0.25rem;
  /* flex-grow: 1; */
  margin-left: -10px;
  border: 1px solid grey;
}

.mergeCell {
  /* padding: 4px; */

  height: 25px;
  /* aspect-ratio: 1; */
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.mergeCell svg {
  /* margin-top: 15%; */
  /* background-color: antiquewhite; */
}
.mergeCell:hover {
  background-color: #d3e3fd;
  border: 0.5px solid #97b7eb;
}

.disabled {
  /* background-color: black; */
  pointer-events: none;
  cursor: row-resize;
}

.mergeCell .active {
  background-color: #d3e3fd;
  border: 0.5px solid #97b7eb;
}

.mergeCell .not_active {
  background-color: transparent;
  border: 0 solid #97b7eb00;
}
